@font-face {
    font-family: 'mplus';
    src: url('/fonts/MPLUS1p-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.bg_red{
    background: linear-gradient(135deg, #ffffffe6,#f3b4ab);
    margin: 0;
    padding: 50px 50px 20px 50px;
}

html,body {
    font-family: 'mplus', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

header{
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #ffffffaa;
}
#header_top{
    display: flex;
}
#header_top img{
    height: 40px;
    margin: 5px 10px;
}
#header_top h1{
    margin: auto 0;
    font-size: 24px;
}

header ul{
    display: flex;
    list-style: none;
    margin: 5px;
}
header a{
    text-decoration: none;
    color: #c7240b;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
}
header a:hover{
    background-color: #ddddddaa;
}
footer button{
    border: none;
    background: none;
}
footer p{
    text-align: center;
    margin: 0;
}